<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="/javascripts/login.js"></script>
</head>
<body>
<div class="container" id="container">
    <h1>Log in</h1>
    <form action="/login" method="POST">
        <div id="logindiv">
            <input type="text"
                   id="login"
                   placeholder="Login"
            />
        </div>
        <div id="passworddiv">
            <input type="password"
                   id="password"
                   placeholder="Password"
            />
        </div>
    </form>
    <button class="button" id="loginButton">Log in</button>
    <div class="message">
        <span>Don't have an account?</span>
        <a href="/signup">Sign up</a>
    </div>
</div>
</body>
</html>