<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
<div class="container">
    <h1>Log in</h1>
    <form>
        <input type="text"
               id="login"
               placeholder="Login"
               required/>
        <input type="password"
               id="password"
               placeholder="Password"
               required/>
    </form>
    <button id="login">Log in</button>
    <div class="message">
        <span>Don't have an account?</span>
        <a href="/signup">Sign up</a>
    </div>
</div>
</body>
</html>