<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/javascripts/signup.js"></script>
</head>
<body>
<div class="container" id="container">
    <h1>Sign up</h1>
    <form action="/signup" method="POST">
        <div>
            <input type="text"
               id="login"
               placeholder="Login"
            />
        </div>
        <div>
            <input type="email"
               id="email"
               placeholder="Enter your email"
            />
        </div>
        <div>
            <input type="password"
               id="password"
               placeholder="Password"
            />
        </div>
        <div>
            <input type="password"
               id="confirm_password"
               placeholder="Confirm password"
            />
        </div>
    </form>
    <button class="button" id="signupButton">Sign up</button>
    <div class="message">
        <span>Already have an account?</span>
        <a href="/login">Log in</a>
    </div>
</div>

<footer class="stats" id="stats">
</footer>
</body>
</html>