body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    padding: 20px 30px 30px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    text-align: center;
}

input, .button {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 5px;
}

.button {
    margin-top: 15px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    font-size: medium;
    border: none;
}

input {
    border: none;
    border-bottom: 1px solid gray;
}

.message {
    margin-top: 10px;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

.error {
    margin-left: 5px;
    margin-top: 3px;
    color: red;
    font-size: x-small;
    text-align: left;
}

.stats{
    color: gray;
    position: fixed;
    bottom: 0;
}
